html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
   font-family: sans-serif;	
	font-size: 10pt;
        color: black;
}


a.header2{
	background: #002778;
	color:White;
	font-size:9pt;
	padding: 3px 6px;	
	font-weight:bold;
	text-decoration:none;	
	margin:0;
        cursor: pointer;
}

a:hover.header2 {
	background: #000000;
	color: Yellow;
/*	font-size:9pt;
	padding: 3px 7px;
	font-weight:bold;
	text-decoration:none;
	margin:0;*/
}

div.selector {
	background-color:#ececec;
	border-top:3px solid #a7a7a7;
	border-bottom:1px solid white;
	font-size:4ex;
	padding: 0 0 0 0;
	margin-top:0px;
	width:1020px;
	}

span.selector {
	display: inline;
	margin-right: 2px;
	}
        
div.outside{
    position: absolute;
    width: 96%;
        }
#wrapper {
    position: relative;
       width: 1020px;
       height: auto !important;
        margin: 0px auto;
/*        outline: 1px solid blueviolet;*/
}
.footer_box{
        position:relative;
        float: left;
        width: 1020px;
        margin: 0 auto;
}

.footer {
        position:relative;
        width: 100%;
        height: 67px; 
        background-color:#ececec;
        background-repeat: no-repeat;
}
table.dat {
	display: block;
	border: solid 1px gray;	
	font-size:10pt;
	margin-left: 2px;
	margin-right: 2px;
}
th.dat{
		background: #002778;
		color:White;
		font-size:9pt;
		padding: 3px 15px;
		
}
td.dat {
		padding: 1px 1px ;
		font-size:9pt;
		
	    border-bottom : thin solid;
}
tr.dat {
	border: solid 1px gray;
	
}
#cust_list,#account_list{
    position: relative;
    min-height: 600px;
    min-width: 1080px;
    display: none;
}
/*.edit_customer{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}
.edit_customer:hover{
    color:blueviolet;
}*/
/*.delete_customer{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}
.delete_customer:hover{
    color:blueviolet;
}*/
.get_pwd,.view_wallet,.edit_wallet,.delete_customer,.edit_customer{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}
.get_pwd:hover,.view_wallet:hover,.edit_wallet:hover,.delete_customer:hover,.edit_customer:hover{
    color:blueviolet;
}
#about_customer,#about_account{
    position: relative;
    display: none;
}
div.t_wallet{
    position: relative;
    display: none;
    width: 975px;
    font-size: 14px;
    font-weight: normal;
    color: black;
    padding-left: 33px;
    padding-top: 24px;
}
#t_wallet{
    width: 942px;
}
.s_carrency{
    color: black;
    font-size: 12px;
    font-weight: normal;
}